<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882835054676-ja0e3tss2nqsfttq2qmmii08jvmitqr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882835054676-ja0e3tss2nqsfttq2qmmii08jvmitqr1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ1hDYRp2MgbuZiD53A4ju418kPjD1q3M</string>
	<key>GCM_SENDER_ID</key>
	<string>882835054676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileMvp</string>
	<key>PROJECT_ID</key>
	<string>tresna-d01a0</string>
	<key>STORAGE_BUCKET</key>
	<string>tresna-d01a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882835054676:ios:23c2f35e003715640ccdc1</string>
</dict>
</plist>